<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to
      <%= title %>
    </p>

  </header>


    <div class="row search">
      <div class="four columns">

      </div>

      <div class="four columns search">
        <img src="/images/pinmap2.png" height="100px" width="100px" alt="" />
      </div>

      <div class="four columns">

      </div>
    </div>

    <div class="row content">
      <div class="four columns">

      </div>

      <div class="four columns main-content">

      </div>

      <div class="four columns">

      </div>
    </div>

<footer>
  &copy;2015
</footer>

</body>

</html>
