<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj9Fo9kRojTI2t6idLbLV7KE7FMEta0m4"></script>
  <script type="text/javascript" src="/javascripts/gmaps.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Pacifico|Arapey' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <div class="row">
      <div class="twelve columns">
    <h1>
      | song | city |
    </h1>
    </div>
  </div>
  </header>


  <div class="row search">
    <div class="four columns">

    </div>

    <div class="four columns search">
      <div class="row">


        <div class="two columns">

        </div>

        <div class="eight columns">
          <img id="pinmap" src="/images/pinmap2.png" alt="" />
          <input class="u-full-width" type="text" name="city" value="" id="city-input" placeholder="Enter City">
          <input class="button-primary" id="city-submit" type="button" name="map" value="Submit">
        </div>
        <div class="two columns">

        </div>
      </div>

    </div>

    <div class="four columns">

    </div>
  </div>

    <div class="two columns">

    </div>

    <div class="eight columns main-content">
      <div id="map">

      </div>

      <div class='row content'>
        <div class="three columns img-content">
          <ul>

          </ul>
        </div>
      </div>

      <!-- <br> -->


    </div>
    <!-- <div class="two columns">

    </div> -->


</body>

</html>
