header {
  padding: 0 !important;
  font-family: Arapey;
  color: rgb(33, 166, 117);
}
header h1 {
  float: right;
  margin-right: 5%;
  margin-top: 1.5%;
}
header p{
  color: rgb(33, 166, 117);
  font-family: Pathway Gothic One;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('http://i.imgur.com/308aYz2.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: white !important;
}

#map {
  height: 450px;
  width: 100%;
  margin-bottom: 10%;
  border-radius: 50%;

}

#city-input {
    width: 100%;
    height: 40px;
    margin-top: 5%;
    // margin-left: 20%;
}

a {
  color: #00B7FF;
}

header {
  background-color: rgba(17, 17, 17, 0.71);
  height: 100px;
  width: 100%;
  padding: 5%;
}

footer {

  margin-top: 5%;
  height: 100px;
  background-color: rgba(17, 17, 17, 0.71);
}

#city-submit {
  margin-left: 25%;
}

#pinmap {
  width: 100%;
  height: 100%;

}
.row.search {
  margin-top: 5%;
  background-color: rgba(17, 17, 17, 0.71);
}
.eight.columns.main-content {
    text-align: center;
    background-color: rgba(17, 17, 17, 0.71);
    padding: 5%;
}

.four.columns {
  margin-top: 5%;

}

.one.columns {
  margin-top: 2%;

}
.two.columns {
  margin-top: 2%;

}

.three.columns {
  margin-top: 5%;

}

.four.columns.search {

  padding: 2%;

}

.row.content {
  margin-top: 5%;
}

.row.search {

}
// @media (min-width: 550px) {
// #city-submit {
//   margin-left: 35% !important;
//   }
// }
